# Node.js
/node_modules/
server/node_modules/

# Build output
/dist/
/build/

# Log files
*.log

# Operating system files
Thumbs.db       # Windows

# TypeScript build output
*.tsbuildinfo

# Vite cache
.vite/

# Optional: Ignore temporary files created by your editor (e.g., VS Code)
.vscode/

# Dependency management files (important for reproducible builds)
yarn.lock           # yarn

# Ensure specific files/folders are not ignored
!src/components/common/
!src/components/Theme/
